<ion-view title="Favorites">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
    <ion-item collection-repeat="product in products" item-width="50%" item-height="300">
<!--     <div class="list card"> -->
            <a ng-click="openProduct(product)">
              <div class="item item-image">

                  <img class="product-image" ng-src="{{product.photo_set[0].url_large}}" item-height="280" />

              </div>
                </a>
                <div class="item item-icon-left assertive" href="#" ng-click="toggleFav(product)">
                    <i class="icon ion-heart"></i>
                     <p>{{product.brand}}</p>
                </div>
  </ion-item>
    </ion-content>
</ion-view>