<ion-view title="">
    <ion-nav-buttons side="primary">
     <button class="stable button-icon icon ion-ios-toggle-outline cat-btn" ng-click="openFilters()"></button>
     <div class="title logo-title"><img class="logo icon" src="img/logo.png"></div>
    </ion-nav-buttons>



        <ion-nav-buttons side="secondary">

         <button class="stable button-icon icon ion-arrow-graph-up-right filter-btn" ng-click="openPriceFilters()"></button>
    </ion-nav-buttons>
    <ion-scroll class="bar bar-subheader scroll-ion" direction="x">
            <ti-segmented-control on-select="selectedCategory($index)" style="width:680px;">
                <ti-segmented-control-button ng-repeat="cat in catNames" class="button button-icon icon scroll-icon" ng-attr-title="cat"></ti-segmented-control-button>
            </ti-segmented-control>
        </ion-scroll>

    <ion-content overflow-scroll="true" padding="false" class="has-header has-subheader has-scrollnav">
      <ion-refresher pulling-text="Pull to refresh" on-refresh="refresh()"></ion-refresher>
      <ion-item collection-repeat="product in products" item-width="50%" item-height="195" class="feed-ion">
        <pr-feed-item item='product'></pr-feed-item>
      </ion-item>
        <ion-infinite-scroll
    on-infinite="loadNextPage()"
    distance="16%">
    </ion-content>
</ion-view>
