
<ion-view title="">
    <ion-nav-buttons side="primary">
     <button class="stable button-icon icon ion-grid cat-btn" ng-click="openCategories()"></button>
     <div class="title logo-title"><img class="logo icon" src="img/logo.png"></div>
    </ion-nav-buttons>
    


        <ion-nav-buttons side="secondary">
     
         <button class="stable button-icon icon ion-arrow-graph-up-right filter-btn" ng-click="openFilters()"></button>
    </ion-nav-buttons>

    <ion-content overflow-scroll="true" padding="false" class="has-header">
    <ion-refresher pulling-text="Pull to refresh" on-refresh="refresh()">
    </ion-refresher>
    <ion-item collection-repeat="product in products" item-width="50%" item-height="225" class="feed-ion">
<!--     <div class="list card"> -->
            <a ng-click="openProduct(product)">
              <div class="item item-image feed-image">

                  <img ng-src="{{product.photo_set[0].url_large}}" item-height="280" />

              </div>
                </a>
                <div class="item item-icon-left dark feed"><a ng-click="toggleFav(product)">
                    <i class="icon ion-ios-heart feed-heart" ng-class="{assertive:product.isFavorite, dark:!product.isFavorite}" ></i></a>
                     <p>{{product.brand}}</p>
                </div>
  </ion-item>
  <ion-infinite-scroll
    on-infinite="loadNextPage()"
    distance="12%">
    </ion-content>
</ion-view>