      <header class="bar bar-header bar-dark">
          <div class="button button-clear" ng-click="cancelFilters()">Cancel</div>
          <div class="button button-clear" ng-click="applyFilters()">Apply</div>
        </header>
<ion-content overflow-scroll="false" padding="true" class="has-header filters-modal" scroll="false">
<rzslider
    rz-slider-model="slider.min"
    rz-slider-high="slider.max"
    rz-slider-options="slider.options"></rzslider>
    
    <div ng-repeat="color in ['black','white','brown','red','green','blue','yellow']">
        <div class="color-block" style="background-color:{{color}}" ng-click="toggleColor(color)"></div>
    </div>
</ion-content>
