      <header class="bar bar-header bar-dark">
          <div class="button button-clear" ng-click="cancelFilters()">Cancel</div>
          <div class="button button-clear" ng-click="applyFilters()">Apply</div>
        </header>
<ion-content overflow-scroll="false" padding="true" class="has-header filters-modal" scroll="false">
<rzslider
    rz-slider-model="slider.min"
    rz-slider-high="slider.max"
    rz-slider-options="slider.options"></rzslider>
<div range-slider min="minPrice" max="maxPrice" model-min="userMinPrice" model-max="userMaxPrice" step="5" filter="currency"></div>
</ion-content>