<ion-view title="login">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email" ng-model="user.email" />
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="user.password" />
      </label>
      <ion-checkbox ng-model="remember">Keep me signed in</ion-checkbox>
  </div>

  <div class="padding">
      <button class="button button-block button-positive" ng-click="login()">
      Login / Register
    </button>
  </div>
    </ion-content>
</ion-view>