    <ion-view title="Product Feed">
        <ion-content overflow-scroll="true" padding="true">
            <div class="list card feed">

              <div class="item item-image feedImage">
                <img ng-src="{{img_url}}">
              </div>

                <div class="item item-icon-left assertive" href="#">
                    <i class="icon ion-heart"></i>
                     <p ng-bind='brand_name'></p>
                </div>

            </div>
        </ion-content>
    </ion-view>
