
<ion-view title="Welcome" hide-nav-bar="true">
  <ui-view name="Welcome">
    <ion-content scroll="false">
    <div class="container-fluid background_img">
        <div class="login-container">
            <img src="img/price-logo.png" class="price-logo">
            <p class="tagline">Discover Incredible Products </br>at the best price </p>
            <p class="" onclick="loginMethods.signinViaFacebook()">
                <!-- <img src="img/fb-btn.png" style='width:170px;'> -->
                <a class="facebook-sign-in" ng-click="loginFacebook()">Log in with Facebook
                </a>
                <div class="tagline tagline-bottom">We don't post anything to Facebook</div>
            </p>
        </div>
    </div>
    </ion-content>
  </ion-nav-view>
</ion-view>