<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.LogicSquare.Price12" version="0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>price</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="you@example.com" href="http://example.com.com/">
      Your Name Here
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <feature name="StatusBar">
    <param name="ios-package" onload="true" value="CDVStatusBar"/>
  </feature>
  <platform name="android">
    <icon density="ldpi" src="res/android/ldpi.png"/>
    <icon density="mdpi" src="res/android/mdpi.png"/>
    <icon density="hdpi" src="res/android/hdpi.png"/>
    <icon density="xhdpi" src="res/android/xhdpi.png"/>
    <icon density="xxhdpi" src="res/android/xxhdpi.png"/>
    <splash src="resources/android/splash/drawable-land-ldpi-screen.png" density="land-ldpi"/>
    <splash src="resources/android/splash/drawable-land-mdpi-screen.png" density="land-mdpi"/>
    <splash src="resources/android/splash/drawable-port-ldpi-screen.png" density="port-ldpi"/>
    <splash src="resources/android/splash/drawable-port-mdpi-screen.png" density="port-mdpi"/>
    <splash src="resources/android/splash/drawable-port-hdpi-screen.png" density="port-hdpi"/>
  </platform>
  <platform name="ios">
    <icon height="180" src="res/ios/icon-60@3x.png" width="180"/>
    <icon height="60" src="res/ios/icon-60.png" width="60"/>
    <icon height="120" src="res/ios/icon-60@2x.png" width="120"/>
    <icon height="76" src="res/ios/icon-76.png" width="76"/>
    <icon height="152" src="res/ios/icon-76@2x.png" width="152"/>
    <icon height="40" src="res/ios/icon-40.png" width="40"/>
    <icon height="80" src="res/ios/icon-40@2x.png" width="80"/>
    <icon height="57" src="res/ios/icon.png" width="57"/>
    <icon height="114" src="res/ios/icon@2x.png" width="114"/>
    <icon height="72" src="res/ios/icon-72.png" width="72"/>
    <icon height="144" src="res/ios/icon-72@2x.png" width="144"/>
    <icon height="29" src="res/ios/icon-small.png" width="29"/>
    <icon height="58" src="res/ios/icon-small@2x.png" width="58"/>
    <icon height="50" src="res/ios/icon-50.png" width="50"/>
    <icon height="100" src="res/ios/icon-50@2x.png" width="100"/>
    <splash height="1136" src="resources/ios/splash/Default-568h@2x~iphone.png" width="640"/>
    <splash height="1334" src="resources/ios/splash/Default-667h.png" width="750"/>
    <splash height="2208" src="resources/ios/splash/Default-736h.png" width="1242"/>
    <splash height="1242" src="resources/ios/splash/Default-Landscape-736h.png" width="2208"/>
    <splash height="1536" src="resources/ios/splash/Default-Landscape@2x~ipad.png" width="2048"/>
    <splash height="768" src="resources/ios/splash/Default-Landscape~ipad.png" width="1024"/>
    <splash height="2048" src="resources/ios/splash/Default-Portrait@2x~ipad.png" width="1536"/>
    <splash height="1024" src="resources/ios/splash/Default-Portrait~ipad.png" width="768"/>
    <splash height="960" src="resources/ios/splash/Default@2x~iphone.png" width="640"/>
    <splash height="480" src="resources/ios/splash/Default~iphone.png" width="320"/>
  </platform>
  <allow-navigation href="https://*.stripe.com/*"/>
  <allow-navigation href="about:blank"/>
  <allow-navigation href="http://10.0.1.63:8100"/>
  <plugin name="cordova-plugin-x-socialsharing" spec="https://github.com/EddyVerbruggen/SocialSharing-PhoneGap-Plugin.git"/>
  <plugin name="cordova-plugin-device" spec="~1.1.1"/>
  <plugin name="com.phonegap.plugins.facebookconnect" spec="src/Facebook">
    <variable name="APP_ID" value="584320658404604"/>
    <variable name="APP_NAME" value="Price"/>
  </plugin>
  <engine name="android" spec="~5.1.1"/>
</widget>