/**********************************
global CSS
**********************************/
.modal{
  top: 0 ;
  bottom: 0 ; 
  left: 0 ;
  right: 0 ;
  width: 100% ;
}

.modal-backdrop-bg {
    background-color: transparent !important;
}

hr {
  margin: 0;
  padding: 0;
}


.filter-btn {
    margin-right: 5px;
}


.padding {
  padding: 0;
} 

h1 .title {
    text-overflow: ellipsis;
}

.logo {
  width: 50px;
}

.logoTitle {
  margin-top: 8% !important;
}

/**********************************
productDetails.html
**********************************/
/* header */
.prodDetails {
  width: 85%;
  font-size: 13px !important;
  font-size: 300 !important;
}

.detClose {
  margin-right: 10px;
  font-size: 15px;
}

/* slider images */
.photoImage {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.photoImage img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.slider-pager .slider-pager-page {
	color: #fff;
	width: 5px;
	margin: 0px 7.5px;
}

/* social */
.socialIcons {
  font-size: 25px;
  color: #ddd;
  margin: -40px 0 0 0;
  position: absolute;
}

/* prices/productInfo */
.productInfo {
  background-color: #f1f1f1;
  padding: 10px 0;
  margin-bottom: 20px;
  margin-top: -15px;
}

.retail, .savings, .actual {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  color: #555;
}

.savings {
  text-align: right;
}

.actual {
  text-align: center;
}

.actual h1 {
  margin: 0;
}

.simulation {
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  color: #999;
}

/* browse similar */
.browseSimilar h5 {
  text-transform: uppercase;
  font-size: 1.5em;
  margin-left: 2%;
  color: #555;
}

.browseSimilar .row {
  padding: 0;
}

.browseSimilar .hscroller {
  padding: 0;
  margin-bottom: 20px;
} 

.browseSimilar .hscroller-card {
  background-color: #fff;
}

.browseSimilar .hscroller-label {
  color: #000 !important;
  overflow: hidden;
  line-height: 12px !important;
}

/* buy button */
.buyTitle {
  text-transform: uppercase;
  font-size: 2.1em !important;
  font-weight: 800 !important;
}

/**********************************
productFeed.html
**********************************/
.feed .ng-binding { 
  display: block;
  margin: 10px 0 auto 32px;
  text-transform: uppercase;
  font-size: 12px !important;
  border-bottom: solid #999 1px;
}

.feed {
  border: solid #111 .75px;
  margin: 5px 2.5px;
}

.item {
  border: none;
  padding: 0;
  overflow: visible;
}

/*.item p {
  margin-left: 45px;
}*/

.ion-record {
  font-size: 10px;
}


.ion-heart {
  font-size: 25px !important;
  margin-left: -11px;
}


/**********************************
feed.html
**********************************/
.feedImage {
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.feedImage img{
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.feed p {
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 11px;
}


.ion-item {
  height: 250px !important;
}

/**********************************
Heart animation CSS
**********************************/

  .cbutton {
  position: relative;
  display: inline-block;
  margin: 1em;
  padding: 0;
  border: none;
  background: none;
  color: #286aab;
  font-size: 1.4em;
  overflow: visible;
  -webkit-transition: color 0.7s;
  transition: color 0.7s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.cbutton.cbutton--click,
.cbutton:focus {
  outline: none;
  color: #3c8ddc;
}

.cbutton__icon {
  display: block;
}

.cbutton::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -35px 0 0 -35px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  content: '';
  opacity: 0;
  pointer-events: none;
}

  /* Sanja */
.cbutton--effect-sanja::after {
  background: rgba(111,148,182,0.1);
}

.cbutton--effect-sanja.cbutton--click::after {
  -webkit-animation: anim-effect-sanja 1s ease-out forwards;
  animation: anim-effect-sanja 1s ease-out forwards;
}

@-webkit-keyframes anim-effect-sanja {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
  }
  25% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes anim-effect-sanja {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
  }
  25% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}